/* TABLE */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

table {
   /* 이중 테두리 제거 */
   border-collapse: collapse;
   border: 3px solid;
}
td,
th {
   /* 모든 셀에 적용 */
   text-align: left;
   /* font: 15px 'Josefin Sans', sans-serif; */
   font-family: 'Hanna', serif;
   padding: 5px;
   height: 15px;
   width: 110px;
}
thead,
tfoot {
   /* <thead>의 모든 셀에 적용 */
   background: rgba(109, 104, 104, 0.377);
   color: rgb(8, 8, 8);
}
tbody tr:nth-child(even) {
   /* 짝수 <tr>에 적용*/
   background: rgba(165, 169, 172, 0.712);
}
tbody tr:hover {
   /* 마우스가 올라오면 pink 배경 */
   background: rgba(208, 228, 153, 0.288);
}

.empty {
   background-image: linear-gradient(40deg, red, orange, yellow, green, blue, navy, purple);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-weight: bold;
   font-size: 30px;
   text-align: center;
}

input[type='text'] {
   background-color: rgb(188, 218, 228);
}

input[type='number'] {
   background-color: rgb(188, 218, 228);
}

button {
   color: black;
   background-color: black;
   border: 3px solid white;
   border-radius: 4px;
   padding: 5px 15px;
   font: bold 15px 'Josefin Sans', sans-serif;
   cursor: pointer;
}

button:hover {
   background: rgba(196, 212, 122, 0.616);
}
